.contest {
  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    margin-bottom: 82px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 60px;
  }
}

.contest__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;

  margin-top: 0;
  margin-bottom: 35px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    width: 490px;
    margin: 0 auto;
    margin-bottom: 73px;
    padding: 0;
    font-size: 18px;
  }

  @media (min-width: @desktop-width) {
    width: 760px;
    margin-bottom: 80px;
  }
}

.contest__title--hidden {
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}

.contest__legend {
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #d22856;

  @media (min-width: @tablet-width) {
    line-height: 30px;
  }
}

.contest__form {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;

    width: 940px;
    margin: 0 auto;
  }
}

.contest__user {
  margin: 0;
  padding: 0 20px;
  border: none;
  margin-bottom: 27px;

  @media (min-width: @tablet-width) {
    order: 1;
    margin-bottom: 15px;
  }

  @media (min-width: @desktop-width) {
    width: 435px;
    margin-right: 70px;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 0;
  }
}

.contest__journey {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  margin: 0;
  padding: 40px 20px 49px;
  border: none;

  @media (min-width: @tablet-width) {
    order: 4;

    border: 2px solid #e5e5e5;
    border-radius: 1px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 65px;
    padding-top: 57px;
    padding-bottom: 53px;

    background-color: #ffffff;

    position: relative;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    width: 940px;
    padding-left: 13px;
    padding-right: 0;
    padding-bottom: 8px;
    margin-left: 0;
    margin-right: 0;
  }
}

.contest__legend--br {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.contest__legend--journey {
  padding-bottom: 39px;

  @media (min-width: @tablet-width) {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 0;

    background-color: #ffffff;

    position: absolute;
    top: -15px;
    left: 50%;
    margin-left: -211px;
  }
}

.contest__label--journey {
  padding-bottom: 52px;

  &:last-child {
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    &:nth-child(odd) {
      order: 2;
    }
  }
}

.contest__feedback {
  margin: 32px 20px 27px;
  padding: 0;
  border: none;

  @media (min-width: @tablet-width) {
    order: 3;

    border: 2px solid #e5e5e5;
    border-radius: 1px;
    margin: 0 20px 65px;
    padding: 15px 60px 27px;

    position: relative;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
    padding: 11px 60px 15px;
  }
}

.contest__legend--feedback {
  @media (max-width: @mobile-width-only) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    padding-left: 25px;
    padding-right: 25px;

    background-color: #ffffff;

    position: absolute;
    top: -15px;
    left: 50%;
    margin-left: -122px;
  }
}

.contest__system {
  display: flex;
  flex-direction: column;
  border: none;
  background-color: #f2f2f2;
  padding: 40px 20px 47px;
  margin: 0;

  @media (min-width: @tablet-width) {
    order: 2;

    border: 2px solid #e5e5e5;
    border-radius: 1px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 65px;
    padding: 55px 0 60px;

    background-color: #ffffff;

    position: relative;
  }

  @media (min-width: @desktop-width) {
    width: 435px;
    margin-left: auto;
    margin-right: 0;
    box-sizing: border-box;
    padding: 61px 0 56px;
  }
}

.contest__legend--system {
  padding-bottom: 37px;

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
    padding-left: 25px;
    padding-right: 25px;

    background-color: #ffffff;

    position: absolute;
    top: -15px;
    left: 50%;
    margin-left: -183px;
  }
}

.contest__label--system {
  padding-bottom: 45px;

  &:last-child {
    padding-bottom: 0;
  }
}

.contest__emotion {
  margin: 0 20px;
  padding: 38px 2px 50px;
  border: none;

  @media (min-width: @tablet-width) {
    order: 5;

    border: 2px solid #e5e5e5;
    border-radius: 1px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 65px;
    padding: 47px 60px 53px;

    position: relative;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    padding: 42px 60px 45px;
    margin-left: 0;
    margin-right: 0;
  }
}

.contest__legend--emotion {
  display: block;
  margin: 0 auto;
  padding-left: 0;
  padding-bottom: 16px;

  @media (min-width: @tablet-width) {
    padding-left: 25px;
    padding-right: 25px;

    background-color: #ffffff;

    position: absolute;
    top: -15px;
    left: 50%;
    margin-left: -117px;
  }
}

.contest__wrapper-button {
  order: 6;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 55px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 620px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
    margin-bottom: 0;
  }
}

.contest__button {
  width: 100%;

  @media (min-width: @tablet-width) {
    width: 300px;
    margin-bottom: 0;
  }
}

.contest__requared {
  text-align: center;
  margin: 0;
  line-height: 30px;
  text-transform: uppercase;
}

.contest__requared-hidden {
  display: none;

  @media (min-width: @desktop-width) {
    display: inline;
  }
}

.contest__requared-mark {
  color: #d22856;
}
