.downloads {
  padding-top: 20px;
  background-image: url("../../img/bg-index-hand-mobile.png");
  background-repeat: no-repeat;
  background-position: top 107px center;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/bg-index-hand-mobile@2x.png");
    background-size: 320px auto;
  }

  @media (min-width: @tablet-width) {
    padding-top: 95px;
    padding-bottom: 114px;
    background-image: url("../../img/bg-index-hand-tablet.png");
    background-position: bottom center;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/bg-index-hand-tablet@2x.png");
      background-size: 660px auto;
    }
  }

  @media (min-width: @desktop-width) {
    width: 940px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 127px;
    background-image: url("../../img/bg-index-hand-desktop.png");
    background-position: bottom left 15px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/bg-index-hand-desktop@2x.png");
      background-size: 1050px auto;
    }
  }
}

.downloads__wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    margin-left: 20px;
    width: 300px;
  }

  @media (min-width: @desktop-width) {
    width: 300px;
    margin-left: 0;
  }
}

.downloads__title {
  margin: 0 auto;
  width: 225px;
  height: 363px;

  text-align: center;

  @media (min-width: @tablet-width) {
    height: auto;
    width: auto;

    font-size: 40px;
    line-height: 48px;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.downloads__button {
  display: inline-block;
  box-shadow: inset 0 0 0 3px #ffffff;
  box-sizing: border-box;
  border-radius: 29px;
  width: 280px;

  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;

  margin-top: 38px;
  margin-bottom: 32px;
  padding: 18px 38px;

  &:hover {
    background-color: #ffffff;
    color: #d22856;
  }

  &:active {
    background-color: #ffffff;
    color: fade(#d22856, 30%);
  }

  @media (min-width: @tablet-width) {
    margin-top: 29px;
    margin-bottom: 46px;
    padding-left: 37px;
    width: 300px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 36px;
    margin-bottom: 67px;
    font-size: 21px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.downloads__link-wrapper {
  margin-bottom: 22px;
  margin-left: 38px;
  margin-right: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 32px;
    margin-left: 46px;
    margin-right: 48px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 50px;
  }
}

.downloads__link {
  display: block;
  text-decoration: none;
  line-height: 0;
  width: 47px;
  height: 56px;

  background-repeat: no-repeat;
  background-position: bottom;
}

.downloads__link--apple {
  background-image: url("../../img/apple-logo.svg");

  @media (min-width: @tablet-width) {
    height: 57px;
  }
}

.downloads__link--android {
  background-image: url("../../img/android-logo.svg");

  @media (min-width: @tablet-width) {
    height: 48px;
  }

  @media (min-width: @desktop-width) {
    height: 55px;
  }
}

.downloads__link--windows {
  background-image: url("../../img/microsoft-logo.svg");

  @media (min-width: @tablet-width) {
    height: 42px;
  }

  @media (min-width: @desktop-width) {
    height: 50px;
  }
}

.downloads__legend {
  display: block;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  color: #ffffff;

  @media (min-width: @tablet-width) {
    font-size: 18px;
  }
}
