.downloads {
  margin-bottom: 28px;
}

.downloads__title {
  margin-bottom: 348px;
}

.downloads__button {
  display: block;

  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;

  margin-bottom: 32px;
}

.downloads__link-wrapper {
  margin-bottom: 28px;
}

.downloads__legend {
  font-weight: 300;
  text-align: center;
  color: #ffffff;
}
