.feedback {
  background-color: #ffffff;
}

.feedback__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.feedback__item-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.feedback__link {
  text-decoration: none;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #d22856;
}
