.feedback {
  background-color: #ffffff;

  margin: 0 auto;
  position: relative;

  @media (min-width: @tablet-width) {
    width: 620px;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
  }
}

.feedback__wrapper {
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    column-gap: 20px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(3, 300px);
  }
}

.feedback__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  margin-top: 40px;
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 54px;

    margin-bottom: 33px;
    margin-top: 43px;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68px;

    margin-top: 60px;
    margin-bottom: 40px;
  }
}

.feedback__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 18px;

  @media (min-width: @tablet-width) {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 30px;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }

    &:nth-child(2) {
      order: 3;
    }
  }
}

.feedback__item--grid {
  @media (min-width: @tablet-width) {
    @media (max-width: 1199px) {
      grid-column: ~"1 / -1";
    }
  }
}

.feedback__item-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 5px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 20px;
  }
}

.feedback__link {
  text-decoration: none;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #d22856;

  &:hover {
    color: #283645;
    text-decoration: underline;
  }

  &:active {
    text-decoration: none;
    color: #283645;
    opacity: 0.3;
  }
}
