.page-header {
  background-color: #1d2631;
  background-repeat: no-repeat;

  box-sizing: border-box;
}

.page-header--index {
  background-image: url("../img/bg-index-mobile.jpg");

  margin-bottom: 46px;
  padding-bottom: 38px;

  height: 733px;
}

.page-header--inset {
  background-image: url("../img/bg-inset-mobile.jpg");

  margin-bottom: 54px;
  padding-bottom: 51px;

  height: 237px;
}

.page-header__logo {
  fill: #ffffff;
}
