.page-header {
  background-color: #1d2631;
}

.page-header--index {
  background-image: url("../img/bg-index-mobile.jpg");
  background-repeat: no-repeat;

  margin-bottom: 46px;
}

.page-header__logo {
  fill: #ffffff;
}
