.post__title {
  line-height: 30px;
  font-weight: 400;
  text-align: center;
}

.post__button {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

.post__button--submit {
  color: #d22856;
}

.post__button--reset {
  opacity: 0.1;
}
