.suggests {
  background-color: #ffffff;
  background-image: url("../../img/triangle-grey-bg.svg");
  background-repeat: no-repeat;
  background-position: top 145px center;
  background-size: 100%;

  @media (min-width: @tablet-width) {
    background-position: top 168px center;
  }

  @media (min-width: @desktop-width) {
    background-position: top 260px center;
  }
}

.suggests__head-title {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  margin: 0 auto;
  margin-bottom: 30px;
  width: 220px;

  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 54px;

    margin-bottom: 0;
    width: auto;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.suggests__wrapper {
  padding-top: 82px;
  margin-left: 20px;
  margin-right: 20px;

  @media (min-width: @tablet-width) {
    padding-top: 0;
    width: 620px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    padding-top: 0;
    width: 940px;
  }
}

.suggests__list {
  margin: 0;
  padding: 0;
  padding-bottom: 287px;
  list-style-type: none;

  background-image: url("../../img/iphone-mobile.png");
  background-repeat: no-repeat;
  background-position: bottom -43px center;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/iphone-mobile@2x.png");
    background-size: 157px auto;
  }

  @media (min-width: @tablet-width) {
    padding-top: 105px;
    padding-bottom: 0;
    background-image: url("../../img/iphone-tablet.png");
    background-position: top 35px left 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/iphone-tablet@2x.png");
      background-size: 268px auto;
    }
  }

  @media (min-width: @desktop-width) {
    // display: flex;
    // justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-image: none;
    padding-top: 60px;
  }
}

.suggests__item {
  padding-bottom: 31px;

  @media (min-width: @tablet-width) {
    width: 310px;
    padding-bottom: 35px;
    margin-left: auto;

    &:last-child {
      padding-bottom: 41px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 355px;
    padding-bottom: 59px;
    width: 252px;

    background-repeat: no-repeat;
    background-position: top center;

    &:nth-child(3n-2) {
      margin-left: 25px;
    }

    &:nth-child(3n+2) {
      margin-right: 30px;
    }

    &:nth-child(3n) {
      margin-left: 40px;
    }
  }
}

.suggests__item--mood {
  @media (min-width: @desktop-width) {
    background-image: url("../../img/iphone-desktop-1.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/iphone-desktop-1@2x.png");
      background-size: 308px auto;
    }
  }
}

.suggests__item--world {
  @media (min-width: @desktop-width) {
    background-image: url("../../img/iphone-desktop-2.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/iphone-desktop-2@2x.png");
      background-size: 308px auto;
    }
  }
}

.suggests__item--friends {
  @media (min-width: @desktop-width) {
    background-image: url("../../img/iphone-desktop-3.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/iphone-desktop-3@2x.png");
      background-size: 308px auto;
    }
  }
}

.suggests__title {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: #000000;

  margin-top: 0;
  margin-bottom: 12px;

  @media (min-width: @tablet-width) {
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 25px;
  }
}

.suggests__desc {
  text-align: center;
  margin: 0;

  @media (min-width: @tablet-width) {
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
}

.suggests__desc-br {
  display: none;

  @media (min-width: @desktop-width) {
    display: inline;
  }
}
